@model IEnumerable<DoAnCNPM.Models.Brand>

@{
    ViewData["Title"] = "Danh sách Thương hiệu";
    Layout = "_DashboardLayout";
}
<link rel="stylesheet" href="/css/quanli.css" />
<script src="/js/quanli.js"></script>
<h2 class="page-title">Danh sách Thương hiệu</h2>

<form method="get" action="@Url.Action("DSBrand")" class="search-form">
    <input type="text" name="searchTerm" placeholder="Tìm kiếm thương hiệu..." class="search-input" />
    <button type="submit" class="btn-search">Tìm kiếm</button>
</form>

<a href="@Url.Action("Create")" class="btn btn-add">Thêm thương hiệu mới</a>

<div class="table-container">
    <table class="table-products">
        <thead>
            <tr>
                <th>ID</th>
                <th>Tên Thương hiệu</th>
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var brand in Model)
            {
                <tr>
                    <td>@brand.Brand_ID</td>
                    <td>@brand.BrandName</td>
                    <td class="actions">
                        <a href="@Url.Action("Edit", "Brand", new { id = brand.Brand_ID })" class="btn btn-edit">Sửa</a>
                        <button type="button" class="btn btn-delete delete-item" data-id="@brand.Brand_ID" data-url="@Url.Action("Delete", "Brand")">Xóa</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
